@import '../colors.scss';

* { all: unset;
    font-weight: 600;
}

.container {
    background-color: $Mantle;
    border-radius: 10px;
    border-color: $Surface0;
    border-width: 2px;
    border-style: solid;
    padding:10px 15px 10px 15px;
}

.update-btn {
    background-color: $Surface0;
    border-radius: 5px;
    color: $Flamingo;
}

.update-lb {
    color: $Text;
}