@import '../colors.scss';

* { all: unset;
}

.menu {
    background-color: $Mantle;
    border-radius: 10px;
    border-color: $Surface0;
    border-width: 2px;
    border-style: solid;
}

.container {
    padding: 10px;
}
.power-container {
    padding: 5px;
    background-color: $Surface0;
    border-color: $Surface0;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.power-btn {
    font-size:x-large;
    padding: 0px 0px 0px 6px;
    color: $Red;
}

.item-btn {
    padding: 0px 0px 0px 6px;
    font-weight: 600;
    color: $Text;

}

.rev-box {
    padding: 0px 10px 0px 0px;
}

.profile {
    padding: 15px;
    background-color: $Surface0;
    border-color: $Surface0;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}
.face {
	background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
	min-height: 50px;
	min-width: 50px;
    border-color: $Green;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    background-color:$Sky;
}

.user-lb{
    font-size: x-large;
    font-weight: 800;
    color: $Sapphire;
    padding: 0px 20px;
}

.uptime-lb {
    font-size:xx-small;
    font-weight: 800;
    color: $Teal;
}

.progress {
font-size: 1.1rem;
min-height: 50px;
min-width: 50px;
background-color: $Surface0;
border-radius: 10px;
border-width: 2px;
border-style: solid;
border-color: $Surface0;
margin: 10px;
padding: 10px;
}