@import '../colors.scss';

* { all: unset;
}

.menu {
    background-color: $Mantle;
    border-radius: 10px;
    border-color: $Surface0;
    border-width: 2px;
    border-style: solid;
}

.container {
    padding: 10px;
}
.power-container {
    padding: 5px;
    background-color: $Base;
    border-color: $Base;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.power-btn {
    font-size:x-large;
    padding: 0px 0px 0px 6px;
    color: $Red;
}

.item-btn {
    padding: 0px 0px 0px 6px;
    font-weight: 600;
    color: $Text;

}

.rev-box {
    padding: 0px 10px 0px 0px;
}

.profile {
    padding: 15px;
    background-color: $Base;
    border-color: $Base;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 30px;
}
.face {
	background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
	min-height: 60px;
	min-width: 60px;
    border-radius: 30px;
    border-width: 0px;
    border-style: solid;
    background-color:$Surface0;
    opacity: 0.7;
}

.user-lb{
    font-size: x-large;
    font-weight: 800;
    color: $Rosewater;
    padding: 0px 20px;
}

.uptime-lb {
    font-size:xx-small;
    font-weight: 800;
    color: $Subtext0;
    font-style: italic;
}

.sidestuff slider {
    all: unset;
    color: #ffd5cd;
  }
  

  .label {
    color: $Text;
  }
  .metric {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .control-container {
    font-size:large;
    font-weight: 700;
    background-color: $Base;
    border-radius: 20px;
    margin: 0px 20px;
    padding: 5px 0px;
  }
  .metric scale trough highlight {
    all: unset;
    background: linear-gradient(90deg, $Blue 0%, $Green 100%);
    border-radius: 10px;
  }
  .metric scale trough {
    all: unset;
    background: $Mantle;
    border-radius: 50px;
    min-height: 15px;
    min-width: 300px;
    margin-left: 0px;
    margin-right: 10px;
  }