@import '../colors.scss';

* { all: unset;
}
.date {
    background-color: $Mantle;
    color: $Text;
    border-radius: 10px;
    border-color: $Surface0;
    border-width: 2px;
    border-style: solid;
  }
  
  .timebox {
    margin: 30px 0px;
    .time-container {
      .content {
        font-family: Product Sans;
        font-size: 60px;
      }
      .divider {
        margin: 8px 15px;
        padding: 0px 1px;
        background: linear-gradient($Red, $Sky, $Blue, $Green);
      }
    }
    .date-container {
      font-family: Product Sans;
      margin-top: 2px;
    }
  }
  
  .cal-box {
    font-family: Product Sans;
    border-radius: 10px;
    padding: 0 1rem .2rem;
    color: $Text;
    background-color: $Surface0;
    margin: 0px 12px 12px 12px;
  
    .cal {
      background-color: inherit;
      padding: .5rem .10rem 0rem;
      margin-left: 10px;
  
      & > * {
        border: solid 0px transparent;
      }
      
      &.highlight {
        padding: 10rem;
      }
    }
  }
  
  calendar {
    color: $Subtext0;
    font-weight:500;
  }
  calendar:selected {
    color: $Teal;
  }
  
  calendar.header {
    color: $Blue;
  }
  
  calendar.button {
    color: $Blue;
  }
  
  calendar.highlight {
    color: $Green;
  }
  
  calendar:indeterminate {
    color: $Mantle;
  }

  
  