@import '../colors.scss';

* { all: unset;
}

.container {
    background-color: $Mantle;
    padding: 3px 10px;
    border-radius: 8px;
    border-color: $Base;
    border-width: 1px;
    border-style: solid;
}

.launcher {
    padding: 0px 3px 0px 8px;
    border-radius: 8px;
    background-color: $Surface0;
}

.menu-lb {
    font-size: large;
}

.launcher-btn {
    font-size: large;
    color: $Sapphire;
}
.workspaces-container{
    border-radius: 8px;
    background-color: $Surface0;
    padding: 0px 10px 0px 12px;
    font-size: 0.9rem;
}
.workspace-entry {
    &.occupied{
        color: $Maroon;
    }
    &.current {
      color: $Green;
    }
}

.time {
    font-weight: 700;
    border-radius: 8px;
    background-color: $Surface0;
    padding: 0px 15px;
}

.menu {
    border-radius: 8px;
    background-color: $Surface0;
    padding: 0px 12px 0px 10px;
    font-size: 1.3rem;
    color: $Peach;
}

.tools {
    border-radius: 8px;
    background-color: $Surface0;
    padding: 0px 0px 0px 10px;
}
.tools > * {
    padding: 0px 10px 0px 10px;
}

.wifi-lb {
    font-size: small;
    font-weight: 600;
    padding: 0px 8px 0px 8px;
}
.blue-btn{
    font-size:large;
}

.battery-btn {
    padding: 0px 0px 0px 0px;
    font-size: medium;
    font-weight: 600;
}

.progress {
    padding: .7rem .7rem;
    border-radius: 1rem;




  .icon {
    font-size: 1rem;
    padding: 1.1rem;
  }

}